{% extends 'app/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

<div class="text-center my-5">
    <div class="mb-5">
        <h3>「{{ keyword }}」の検索結果</h3>
    </div>

        {% for book in book_data %}
        <div class="card img-thumbnail booklist h-100">
        <table class="table table-striped" >
            <thead>
              <tr>
                <th scope="col">商品</th>
                <th scope="col">タイトル</th>
                <th scope="col">価格</th>
              </tr>
            </thead>

            <tbody>
                <tr>
                    <td><img src="{{ book.image }}"></td> 
                    <td>{{ book.itemName }}</td>
                    <td>価格：{{ book.itemPrice }}円</td>
                </tr>
            </tbody>
          </table>
          <a href="{% url 'detail' book.itemCode %}" class="stretched-link"></a>
        </div>
        {% endfor %}
</div>

{% endblock %}